* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #A9DFBF;
    color: #8B0000;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

.h1 {
    text-align: center;
    margin-top: 90px;
    font-family: 'Roboto Slab';
}

h1 span {
    text-decoration: underline;
    background-color: rgba(245, 245, 220, 0.726);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;

}

.container {
    display: flex;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    margin-left: 827px; 
    margin-top: 50px; 
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: bold;
}

.submit {
    font-family: 'Roboto';
    font-weight: bold;
    width: 81px;
    justify-content: center;
    display: flex;
    margin-left: 61px;
}

.nombre-input {
    width: 201px;
    margin-top: -30px;
}

.correo-input {
    margin-top: -20px;
    margin-bottom: -4px 
}

.p-resultado {
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    margin-left: 746px;
    margin-top: 50px;
    width: 411px;
}