* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 2%, rgba(252,70,107,1) 100%);
    color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-family: 'Honk', system-ui;
    margin-bottom: 20px;
    font-size: 90px;
}


input[type="submit"] {
    background-color: #ff345d; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color: white;
}

input[type="submit"]:hover {
    background-color: #5900a5;
}

p {
    color: black;
    margin-bottom: 20px;
    font-size: 50px;
}