body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    height: 500px;
    background-color: #640D14;
    border-radius: 8px;
    align-items: center;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #AD2831;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background-color: #AD2831;
    border-radius: 8px;    
    padding: 10px;
    color: white;
}

.resultado {
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: auto;
    text-align: center;
    background-color: #AD2831;
    padding: 10px;
    width: 199px;
    border-radius: 8px;
}


.buttons {
    display: inline-block;
}

img {
    aspect-ratio: 707/1000;
    vertical-align: middle;
    border-style: none;
    width: 165px;
}

.buttForm {
    padding: 0;
    margin: 20px;
}
