body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 700px;
    height: 700px;
    background-color: #93B7BE;
    border-radius: 8px;
    align-items: center;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F1FFFA;
    padding: 10px;
    border-radius: 8px;
}

.initialForm {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background-color: #F1FFFA;
    border-radius: 8px;    
    padding: 10px;
}

.resultado {
    display: block;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: auto;
    text-align: center;
    background-color: #F1FFFA;
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    max-height: 500px; /* Agregado max-height */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.buttForm {
    margin: 20px;
}

