* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
}

body {
    font-family: 'Mulish', sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 2%, rgba(252,70,107,1) 100%);
    color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Honk', system-ui;
    margin-bottom: 20px;
    font-size: 90px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button:hover {
    background-color: #5900a5;
}

/* Estilo adicional para los botones dentro de formularios */
form {
    display: flex;
    justify-content: center;
}

.empleado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    padding: 5px ;
    margin: 20px;
    font-size: 14px;
    background-color: #ff345d;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5900a5;
}

